In [1]:
#INTRODUCTION TO LIST DATATYPE

In [2]:
#Defination : A list is collection of items in a particular Order 
    
#Classification : It is classified as a mutable datatype(Mutable datatype)

In [3]:
#Q How to define list data type : []

In [4]:
#EX: 
students=['khadija','anitha','naveen','suresh','keerthi','david']
print(students)

['khadija', 'anitha', 'naveen', 'suresh', 'keerthi', 'david']

In [5]:
#UNDERSTANDING THE CONCEPT OF INDEXING

In [6]:
#(0,1,2,3,4,5,...)

In [7]:
#REQ i want to accesss lets say anitha name from the above

In [8]:
print(students[1])

anitha

In [9]:
#req i want to access lets say suresh from the above

In [10]:
print(students[3])

suresh

In [11]:
print(students[3].title())

Suresh

In [14]:
#How to add new element to the list
students.append('satish')
print(students)

['khadija', 'anitha', 'naveen', 'suresh', 'keerthi', 'david', 'satish']

In [15]:
#I want to add shoib
students.append('shoib')
print(students)

['khadija', 'anitha', 'naveen', 'suresh', 'keerthi', 'david', 'satish', 'shoib']

In [16]:
#3****Interview***
#what is diff bet insert and append method

In [18]:
#Req i want to add tanvir at 2nd index position
students.insert(2,'tanvir')
print(students)

['khadija', 'anitha', 'tanvir', 'naveen', 'suresh', 'keerthi', 'david', 'satish', 'shoib']

In [19]:
#Req i want to modify khadija name to rubina
students[0]='Rubina'
print(students)

['Rubina', 'anitha', 'tanvir', 'naveen', 'suresh', 'keerthi', 'david', 'satish', 'shoib']

In [20]:
#How to delete element to the list
del students[1]
print(students)

['Rubina', 'tanvir', 'naveen', 'suresh', 'keerthi', 'david', 'satish', 'shoib']